
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
    </style>
</head>
<body>

    <div class="container-fluid">
        <div class="header">
            <h5 style="color:#fff;margin-right: 40px;">ItsReview App</h5>
        </div>
    </div>
    <div class="container" style="padding-top:30px;">
        <div class="form-group">
            <label for="emailid">Enter Email Id</label>
            <input type="text" class="form-control" placeholder="Enter Email Id" id="emailid">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" placeholder="Enter password" id="password">
        </div>
        <button type="submit" class="btn btn-primary" id="btnlogin">Login</button>
    </div>
    <div class="text-center">Do you want to <a href="/Register/Create" class="forgot-pass fw-bold">Sign Up?</a></div>
</body>
</html>


<script type="text/javascript">
    $('#btnlogin').click(function () {

        var emailaddress = $("#emailid").val();
        var password = $('#password').val();

        var writeobject = new Object();
        writeobject.EmailId = emailaddress;
        writeobject.Password = password;
        $.ajax({
            url: "@Url.Action("Login", "Login")",
            contentType: 'application/json',
            data: JSON.stringify(writeobject),
            type: "POST",
            success: function (result) {
                if (result == "Writer") {
                    var url = '@Url.Action("Create", "Writer")';
                    window.location.href = url;
                }
                else if (result == "Back Office") {
                     var url = '@Url.Action("Create", "User")';
                    window.location.href = url;
                }
                else if (result == "User") {
                     var url = '@Url.Action("Review", "User")';
                    window.location.href = url;
                }
                 else if (result == "Sales") {
                     var url = '@Url.Action("Index", "Sales")';
                    window.location.href = url;
                }
                else if (result == "FALSE") {
                   alert('Wrong EmailId or Password');
                }
            },
            error: function (result) {
                alert('failure');
            }
        });
    });
</script>

