@model ItsReviewApp.ViewModels.LeadViewModel
@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</head>
<div class="container" style="width:95%">
    @*<a class="btn btn-primary" id="CreateNewLead" type="button">Create Lead</a>*@
    <div id="tabs" style="margin-top:10px;">
        <ul>
            <li><a href="#tabs-3" id="tab3">Customer List</a></li>
            <li><a href="#tabs-7" id="tab7">New Lead</a></li>
            <li><a href="#tabs-5" id="tab5">Follow Up List</a></li>
            <li><a href="#tabs-4" id="tab4">GBP List</a></li>
            <li><a href="#tabs-2" id="tab2">Create Lead</a></li>
            <li><a href="#tabs-6">Excel Upload</a></li>
        </ul>
        <div id="tabs-2">
            <div style="padding-top:30px;">
                <input type="hidden" class="form-control" value="0" id="LeadId" />
                <div class="form-group">
                    <label for="clientName">Client Name</label>
                    <input type="text" class="form-control" placeholder="Please Enter Client Name" id="ClientName">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="number" class="form-control" placeholder="Please Enter Phone Number" id="PhoneNumber"  maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onfocusout='PhoneNumberValidation(this)' />
                </div>
                <div class="form-group">
                    <label for="bussinessType">Bussiness Type</label>
                    <input type="text" class="form-control" placeholder="Please Enter Bussiness Type" id="BussinessType">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" placeholder="Please Enter City" id="City">
                </div>
                <div class="form-group">
                    <label for="remarks">Remarks</label>
                    <textarea rows="5" cols="3" id="Remarks" class="form-control" placeholder="Please Enter Remarks"></textarea>
                </div>
                <div class="form-group">
                    <label for="date">FollowUp Date</label>
                    <div class='input-group date followupDate'>
                        <input type='text' class="form-control" id="followupdate" placeholder="Please Select Date" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" class="form-check-input" id="followupcheck" checked>
                    <label class="form-check-label" for="followupcheck">Save to FollowUp List</label>
                </div>
                <button type="submit" class="btn btn-primary" id="btnsaveLead">Save</button>
                <a class="btn btn-primary" id="CreateLeaddataId" style="color: white;">Open</a>
            </div>
        </div>
        <div id="tabs-3">
            <table id="SalesList" class="table table-bordered table-responsive" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="Width:20%;">ClientName</th>
                        <th style="Width:15%;">Phone Number</th>
                        @*<th style="Width:16%;">Bussiness Type</th>*@
                        <th style="Width:30%;">Remarks</th>
                        @*<th style="Width:14%;">City</th>*@
                        <th style="Width:5%;">Action</th>
                        @*<th></th>*@
                    </tr>
                </thead>
            </table>
        </div>
        <div id="tabs-4">
            <table id="SalesActiveList" class="table table-bordered table-responsive" style="width: 100%">
                <thead>
                    <tr>
                        <th style="Width:20%;">Phone Number</th>
                        <th style="Width:40%;">Company Name</th>
                        <th style="Width:15%;">City Name</th>
                        <th style="Width:15%;">Listing Url</th>
                        <th style="Width:5%;">Rev/Day</th>
                        <th style="Width:5%;">Action</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="tabs-5">
            <table id="salesFollwUpList" class="table table-bordered table-responsive" style="width: 100%">
                <thead>
                    <tr>
                        <th style="Width:20%;">Client Name</th>
                        <th style="Width: 18%;">Phone Number</th>
                        <th style="Width:17%;">FollowUp Date</th>
                        <th style="Width:40%;">Remarks</th>
                        <th style="Width:5%;">Action</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="tabs-6">
            <div class="form-group">
                <label for="Name">Select Client Name</label>
                @Html.DropDownList("Name", (IEnumerable<SelectListItem>)ViewBag.Client, "-- Select Client --", new { @class = "form-control clientname" })
            </div>

            <div class="form-group">
                <label for="ExcelUpload">Upload File</label>
                <input type="file" id="files" name="files" /><br />
                <input type="button" id="excelupload" value="Upload" class="btn btn-primary btn-md btn-sm"/>
            </div>
        </div>
        <div id="tabs-7">
            <table id="NewLead" class="table table-bordered table-responsive" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="Width:20%;">ClientName</th>
                        <th style="Width:15%;">Phone Number</th>
                        <th style="Width:16%;">Bussiness Type</th>
                        @*<th style="Width:30%;">Remarks</th>*@
                        <th style="Width:14%;">City</th>
                        <th>Listing Url</th>
                        <th style="Width:5%;">Action</th>
                        @*<th></th>*@
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    var selected_tab = 0;
    $(function () {
        var tabs = $("#tabs").tabs({
            select: function (e, i) {
                selected_tab = i.index;
            }
        });
        selected_tab = $("#selectedTab").val() != "" ? parseInt($("#selectedTab").val()) : 0;
        tabs.tabs('select', selected_tab);
        $("form").submit(function () {
            $("#selectedTab").val(selected_tab);
        });
        datetime();
        BindLead();
    });
    $("#tabs").on('click', '#tab2', function () {
        ResetLeadData();
    })
    $("#tabs").on('click', '#tab4', function () {
        BindSalesActiveList();
    })
    $("#tabs").on('click', '#tab5', function () {
        BindFollwUp();
    })
    $("#tabs").on('click', '#tab3', function () {
        BindLead();
    })
    $("#tabs").on('click', '#tab7', function () {
        BindEmptyFollowUp();
    })

     $('#excelupload').click(function () {
         var registerId = $(".clientname").val();
        var fileUpload = $("#files").get(0);
         var files = fileUpload.files;
         if (files.length == 0) {
             alert("Please Upload a file");
             return
         }
         var fileData = new FormData();
         fileData.append('RegisterId', registerId);
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }



        $.ajax({
            url: "@Url.Action("Upload", "Sales")",
           type: "POST",
           processData: false,
           contentType: false,
             data: fileData,
            success: function (result) {
                //$("#files").val('');
                //$(".clientname").val('');
                //alert(result);
                if (result.length != 0) {
                    alert("Phone Number Already Exits : \n" + result.toString().replaceAll(",", "\n"));
                     $("#files").val('');
                     $(".clientname").val('');
                }
                else {
                    $("#files").val('');
                    $(".clientname").val('');
                    alert('Upload Successfully');
                }
            },
            error: function (result) {
                alert('failure');
            }
        });
     })

    function datetime() {
        $('.followupDate').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            minDate: new Date()
        });
    }


    $('#btnsaveLead').click(function () {
        var Id = $("#LeadId").val();
        var clientname = $("#ClientName").val();
        var phonenumber = $("#PhoneNumber").val();
        var BussinessType = $("#BussinessType").val();
        var City = $("#City").val();
        var Remarks = $("#Remarks").val();
        var followup = $("#followupdate").val();
        var followupcheck = $('#followupcheck').is(':checked');
        if (followupcheck == true) {
            if (followup.length == 0) {
                alert("please select follow up date");
                return;
            }
        }

        var writeobject = new Object();
        writeobject.Id = Id,
            writeobject.ClientName = clientname,
            writeobject.City = City,
            writeobject.PhoneNumber = phonenumber,
            writeobject.BussinessType = BussinessType,
            writeobject.Remarks = Remarks,
            writeobject.FollowUpDate = followup,
            writeobject.FollowUpCheck = followupcheck,
        writeobject.Active = true;



        $.ajax({
            @*url: "@Url.Action("LeadSave", "Sales")",*@
            url: "@Url.Action("Create", "Sales")",
            contentType: 'application/json',
            data: JSON.stringify(writeobject),
            type: "POST",
            success: function (result) {
                //alert('success');
                //ResetLeadData();
                if (result.length != 0) {
                    alert("Phone Number Already Exits : \n" + result.toString().replaceAll(",", "\n"));
                    ResetLeadData();
                }
                else {
                    ResetLeadData();
                    alert('Success');
                }

            },
            error: function (result) {
                alert('failure');
            }
        });

    })

    function ResetLeadData() {
        $("#LeadId").val(0);
        $("#ClientName").val('');
        $("#PhoneNumber").val('');
        $("#BussinessType").val('');
        $("#City").val('');
        $("#Remarks").val('');
        $("#followupdate").val('');
        $("#followupcheck").prop("checked", true);
    }

    function DeleteLeadData(id) {
        if (confirm('Are you sure want to delete?')) {
            $.ajax({
                url: "@Url.Action("IsActiveFalse", "Sales")",
                contentType: 'application/json',
                data: { id: id},
                type: "GET",
                success: function (result) {
                    alert('Delete Successully!');
                    BindLead();
                },
                error: function () {
                    alert('failure');
                }
            });
        }
        else {
            return;
        }
    }

    function BindSalesActiveList() {
        $('#SalesActiveList').DataTable({
            destroy: true,
            "processing": true,
            "serverSide": true,
            "filter": true,
            "pageLength": 50,
            "orderMulti": false,
            "ajax": {
                "url": "GetSalesActiveList/Sales",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "PhoneNumber",
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "CompanyName",
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "CityName",
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "ListingUrl",
                    "autoWidth": true,
                    "searchable": true,
                    "render": function (data) {
                        return '<a class="btn btn-primary" target="_blank" href="' + data + '"style="color: white;">Company URL</a>';
                    }
                }, {
                    "data": "ReviewsPerDay",
                    "autoWidth": true,
                    "searchable": true
                }, {
                    "data": "Id",
                    "autoWidth": true,
                    "render": function (data, type, row) {
                        return '<a class="btn btn-primary" style="color: white;" href="Create/Id?=' + data + '";>Edit</a>';
                    }
                },
            ],
        });
    }


    function BindLead() {
        $('#SalesList').DataTable({
            destroy: true,
            "processing": true,
            "serverSide": true,
            "filter": true,
            "pageLength": 50,
            "orderMulti": false,
            "ajax": {
                "url": "GetSalesList/Sales",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "ClientName",
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "PhoneNumber",
                    "autoWidth": true,
                    "searchable": true
                },
                //{
                //    "data": "BussinessType",
                //    "autoWidth": true,
                //    "searchable": true
                //},
                {
                    "data": "Remarks",
                    "autoWidth": true,
                    "searchable": true,
                    "render": function (data, type, row) {
                        if (data != null) {
                            var Remarks = data.length > 50 ? data.substring(0, 50) + "..." : data;
                            return "<span title='" + data + "'>" + Remarks + "</span>";
                        }
                        else {
                            return "<span></span>";
                        }
                    }

                },
                //{
                //    "data": "City",
                //    "autoWidth": true,
                //    "searchable": true
                //},
                {
                    "data": "Id",
                    "autoWidth": true,
                    "render": function (data, type, row) {
                        return '<a class="btn btn-primary" style="color: white;" onclick="Openleaddata(' + data +')">Open</a>';
                    }
                },
                //{
                //      data: { id: "id", clientname: "clientname", phonenumber: "phonenumber", bussinesstype: "bussinesstype", remarks: "remarks", city: "city", followupdate:"followupdate"},
                //      mrender: function (data, type, row) {
                //          return '<button type="button" class="btn btn-primary" onclick="editleaddata(this)" data-id="' + data.id + '" data-clientname="' + data.clientname + '" data-bussinesstype="' + data.bussinesstype + '" data-remarks="' + data.remarks + '" data-followupdate="' + data.followupdate + '" data-city="' + data.city + '" data-phonenumber="' + data.phonenumber + '">edit</button>'
                //     }
                //},
                //{
                //    "data": "id",
                //    mRender: function (data, type, full) {
               //        return '<button type="button" class="btn btn-danger" onclick="DeleteLeadData(' + data + ')">Delete</button>'
                    // }
                  //}
            ],
        });
    }


    function BindFollwUp() {
        $.ajax({
            url: "GetFollowUpList/Sales",
            type: "GET",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#salesFollwUpList').dataTable({
                    destroy: true,
                    data: data,
                    "columns": [
                        { "data": "ClientName" },
                        { "data": "PhoneNumber" },
                        {
                            "data": "FollowUpDate",
                            "render": function (data) {
                                const dateValue = new Date(parseInt(data.substr(6)));
                                return moment(dateValue).format('DD/MM/YYYY HH:mm');
                            }
                        },
                        {
                            "data": "Remarks",
                            "render": function (data, type, row) {
                                if (data != null) {
                                    var Remarks = data.length > 95 ? data.substring(0, 90) + "..." : data;
                                    return "<span title='" + data + "'>" + Remarks + "</span>";
                                }
                                else {
                                    return "<span></span>";
                                }
                            }
                        },
                        {
                            "data": "Id",
                            "autoWidth": true,
                            "render": function (data, type, row) {
                                return '<a class="btn btn-primary" style="color: white;" onclick="Openleaddata(' + data + ')">Open</a>';
                            }
                        }
                    ]
                });

            }
        })
    }

    $("#CreateNewLead").on("click", function () {
        $('[href="#tabs-2"]').click();
    });

     function Openleaddata(id) {
        $.ajax({
            url: "@Url.Action("GetLeadDataById", "Sales")",
            contentType: 'application/json',
            data: { id: id },
            type: "GET",
            success: function (data) {
                if (data != null) {
                    $("#ClientName").val(data.ClientName);
                    $("#PhoneNumber").val(data.PhoneNumber);
                    $("#BussinessType").val(data.BussinessType);
                    $("#City").val(data.City);
                    if (data.FollowUpDate != null) {
                        var followUpDate = new Date(parseInt(data.FollowUpDate.substr(6)));
                        var followDate = moment(followUpDate).format('YYYY-MM-DD HH:mm:ss');
                        $('#followupdate').val(followDate);
                    }
                    $("#Remarks").val(data.Remarks);
                    $("#LeadId").val(data.Id);
                    /*$("#CreateLeaddataId").attr("href", "/Sales/Create/Id?=" + data.Id + "&m=l");*/
                    $("#CreateLeaddataId").attr("href", "/Sales/Create/Id?=" + data.Id);
                    $('[href="#tabs-2"]').click();
                }

            },
            error: function () {
                alert('failure');
            }
        });
    }
    function BindEmptyFollowUp() {
        $.ajax({
                url: "@Url.Action("GetNewLeadData", "Sales")",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('#NewLead').dataTable({
                        destroy: true,
                        data: data,
                        "columns": [
                            { "data": "ClientName"},
                            { "data": "PhoneNumber"},
                            { "data": "BussinessType"},
                            { "data": "City" },
                            {
                                "data": "LeadListingUrl",
                                "render": function (data, type, row) {
                                    if (data != null) {
                                        var listingurl = (data.length > 30) ? data.substring(0, 30) + '...' : data;
                                        return '<a href=' + data + ' target="_blank">' + listingurl + '</a>'
                                    }
                                    else {
                                        return '<a></a>'
                                    }
                                    
                                }
                            },
                            {
                                "data": "Id",
                                "autoWidth": true,
                                "render": function (data, type, row) {
                                    return '<a class="btn btn-primary" style="color: white;" onclick="Openleaddata(' + data + ')">Open</a>';
                                }
                            }
                        ]
                    });
                }
            })
    }
    function PhoneNumberValidation(number) {
        var phoneNumber = number.value;
        var id = 0;
        id = $("#LeadId").val()

        if (phoneNumber == null || phoneNumber == "") {
            $("#phonenumber").closest("div").find(".error").css("display", "block");
            return;
        }
            $.ajax({
                url: "@Url.Action("GetPhoneNumber", "Sales")",
                contentType: 'application/json',
                data: { "phoneNumber": phoneNumber, "id": id },
                type: "GET",
                success: function (data) {
                    if (data.toUpperCase() == "TRUE") {
                        number.value = "";
                        alert('Phone Number already exists');
                        $("#phonenumber").closest("div").find(".error").show();
                    }
                    else {
                        $("#phonenumber").closest("div").find(".error").css("display", "none")
                    }

                },
                error: function (data) {
                    alert('failure');
                }
            });
    }



</script>
