@{
    ViewBag.Title = "UserReport";
}
<style>
    .select2 {
        width: 100% !important;
    }
</style>
<div style="margin: 10px;">
    <div class="row form-group">
        <div class="col-md-2">
            <label for="date">From Date:</label>
            <div class='input-group date fromtodate'>
                <input type='text' class="form-control" id="txtFromDate" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <label for="date">To Date:</label>
            <div class='input-group date fromtodate'>
                <input type='text' class="form-control" id="txtToDate" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <button onclick="GetUserReport()" style="margin-left:15px;" class="btn btn-primary">Report Generate</button>
        <a href="/Register/Create" style="float: right; margin-right: 20px;" class="forgot-pass fw-bold btn btn-primary">Sign Up</a>
    </div>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1" id="tab1">User Report</a></li>
            <li><a href="#tabs-2" id="tab2">Review Per Day Report</a></li>
            <li><a href="#tabs-3" id="tab3">User Work Report</a></li>
            <li><a href="#tabs-4" id="tab4">Company Report</a></li>
            <li><a href="#tabs-5" id="tab5">Email List</a></li>
        </ul>
        <div id="tabs-1">
            <div class="row">
                <div>
                    Review Count:
                    <label id="lblCount"></label>
                </div>
            </div>
            <div class="form-group">
                <table id="tblUserReport" class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email Id</th>
                            <th>Review</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div id="tabs-2">
            <div class="form-group">
                <table id="tblReviewPerDayReport" class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Expected Review</th>
                            <th>Posted Review</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div id="tabs-3">

            <div class="row col-md-12 form-group">
                <div class="col-md-3">
                    <select class="form-control select2 cls-User-dropdown" onchange="BindUserWorkReport()" id="dropdownUser" name="dropdownUser"></select>
                </div>
            </div>
            <div>
                <table id="tblUserWorkReport" class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Review Date</th>
                            <th>User Name</th>
                            <th>User Email</th>
                            <th>Company Name</th>
                            <th>Company Url</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div id="tabs-4">

            <div class="row col-md-12 form-group">
                <div class="col-md-4">
                    <select class="form-control select2" onchange="BindCompanyReport()" id="dropdownCompanyId" name="dropdownCompanyId"></select>
                </div>
                <div class="col-md-2">
                    <a id="companyUrlId" style="color: #fff;" class="btn btn-primary" target="_blank">Company Url</a>
                </div>
            </div>
            <div>
                <table id="tblCompanyReport" class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Review Date</th>
                            <th>User Name</th>
                            <th>User Email</th>
                            <th>Company Name</th>
                            <th>Register Name</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div id="tabs-5">

            <div class="row col-md-12 form-group">
                <div class="col-md-4">
                    <select class="form-control select2 cls-User-dropdown" onchange="BindUserEmail()" id="dropdownUserEmailId" name="dropdownUserEmailName"></select>
                </div>
               
            </div>
            <div>
                <table id="tblUserEmail" class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>EmailId</th>
                            <th></th>
                            <th></th>
                           
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        BindDate();
        $(".select2").select2({
            //closeOnSelect: false,
            //allowClear: true,
           /* tags: true*/
        });
        BindUserList();
        BindCompanyList();
        var selected_tab = 0;
        $(function () {
            var tabs = $("#tabs").tabs({
                select: function (e, i) {
                    selected_tab = i.index;
                }
            });
            tabs.tabs('select', selected_tab);
        });
    });

    function BindDate(){
        $('.fromtodate').datepicker({
            autoclose: true,
            format: "yyyy/mm/dd",
            orientation: 'bottom',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });

        $('#txtFromDate').datepicker({ format: 'yyyy/mm/dd', }).datepicker("setDate", 'now');
        $('#txtToDate').datepicker({ format: 'yyyy/mm/dd', }).datepicker("setDate", 'now');
    }

    function GetUserReport() {
        var fromDate = $("#txtFromDate").val();
        var toDate = $("#txtToDate").val();
        if (fromDate == null || toDate == null) {
            alert("Please select date");
            return;
        }
        $.ajax({
            url: "@Url.Action("GetUserReport","Admin")",
            type: "GET",
            dataType: "json",
            data: {
                FromDate: fromDate,
                ToDate: toDate
            },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                $('#tblUserReport').dataTable({
                    destroy: true,
                    data: data,
                    "columns": [
                        { "data": "Name" },
                        { "data": "EmailId" },
                        { "data": "RecordCount" }
                    ]
                });
                var table = $('#tblUserReport').DataTable();
                var column = table.column(2);
                var reviewCount=column.data().reduce(function (a, b) {
                    return parseInt(a) + parseInt(b);
                })
                $("#lblCount").text(reviewCount);

            }
        })
        }

    function BindReviewDayReport() {
        var fromDate = $("#txtFromDate").val();
        var toDate = $("#txtToDate").val();

        if (fromDate == null || toDate == null) {
            alert("Please select date");
            return;
        }

        $.ajax({
            url: "@Url.Action("GetUserReviewDayReport", "Admin")",
            type: "GET",
           /* dataType: "json",*/
            data: {
                FromDate: fromDate,
                ToDate: toDate
            },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#tblReviewPerDayReport').dataTable({
                    destroy: true,
                    data: data,
                    "columns": [
                        {
                            "data": "CreatedDate",
                            render: function (data, type, row) {
                                var date = new Date(parseInt(data.substr(6)));
                                var month = date.getMonth() + 1;
                                return date.getDate() + "/" + month + "/" + date.getFullYear();
                            }
                        },
                        { "data": "ExpectedReview" },
                        { "data": "UseReview" }
                    ]
                });
            }
        })
    }

    function BindUserWorkReport() {
        var fromDate = $("#txtFromDate").val();
        var toDate = $("#txtToDate").val();
        var user = $("#dropdownUser").val();
        if (fromDate == null || toDate == null) {
            alert("Please select date");
            return;
        }

        $.ajax({
            url: "@Url.Action("GetUserTrackReport", "Admin")",
            type: "GET",
           /* dataType: "json",*/
            data: {
                FromDate: fromDate,
                ToDate: toDate,
                RegisterId: user
            },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#tblUserWorkReport').dataTable({
                    destroy: true,
                    data: data,
                    "pageLength": 50,
                    order: [[0, 'desc']],
                    "columns": [
                        {
                            "data": "CreatedDate", "width": "12%",
                            render: function (data, type, row) {
                                var date = new Date(parseInt(data.substr(6)));
                                return date.toISOString().split('T')[0] + " " + date.toISOString().split('T')[1].split('.')[0]
                                //var month = date.getMonth() + 1;
                                //return date.getDate() + "/" + month + "/" + date.getFullYear() +" "+ date.getHours() + ":" + date.getMinutes();
                            }
                        },
                        { "data": "FirstName", "width": "12%" },
                        { "data": "EmailId", "width": "12%" },
                        { "data": "CompanyName", "width": "12%" },
                        {
                            "data": "ListingUrl", "width": "52%",
                            render: function (data, type, row) {
                                var listingurl = (data.length > 30) ? data.substring(0, 30) + '...' : data;
                                return '<a href=' + data + ' target="_blank">' + listingurl + '</a>'
                            }
                        }
                    ]
                });
            }
        })
    }

     function BindUserList() {

        $.ajax({
            url: "@Url.Action("GetUserList", "Admin")",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (index, item) {
                    var opt = new Option(item.Name, item.Id);
                    $(".cls-User-dropdown").append(opt);
                });
                //$("#dropdownUser").chosen();
            }
        })
    }
    function BindCompanyReport() {
        var fromDate = $("#txtFromDate").val();
        var toDate = $("#txtToDate").val();
        var company = $("#dropdownCompanyId").val();
        if (fromDate == null || toDate == null) {
            alert("Please select date");
            return;
        }

        $.ajax({
            url: "@Url.Action("GetCompanyTrackReportList", "Admin")",
            type: "GET",
           /* dataType: "json",*/
            data: {
                FromDate: fromDate,
                ToDate: toDate,
                CompanyId: company
            },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.length > 0) {
                    $("#companyUrlId").attr("href", data[0].ListingUrl);
                }
                else {
                    $("#companyUrlId").attr("href", "#");
                }
                $('#tblCompanyReport').dataTable({
                    destroy: true,
                    data: data,
                    "pageLength": 50,
                    order: [[0, 'desc']],
                    "columns": [
                        {
                            "data": "CreatedDate", "width": "12%",
                            render: function (data, type, row) {
                                var date = new Date(parseInt(data.substr(6)));
                                return date.toISOString().split('T')[0] + " " + date.toISOString().split('T')[1].split('.')[0]
                                //var month = date.getMonth() + 1;
                                //return date.getDate() + "/" + month + "/" + date.getFullYear() +" "+ date.getHours() + ":" + date.getMinutes();
                            }
                        },
                        { "data": "FirstName", "width": "12%" },
                        { "data": "EmailId", "width": "12%" },
                        { "data": "CompanyName", "width": "12%" },
                        {
                            "data": "RegisterName", "width": "52%"
                            //render: function (data, type, row) {
                            //    var listingurl = (data.length > 30) ? data.substring(0, 30) + '...' : data;
                            //    return '<a href=' + data + ' target="_blank">' + listingurl + '</a>'
                            //}
                        }
                    ]
                });
            }
        })
    }

    function BindCompanyList() {

        $.ajax({
            url: "@Url.Action("GetCompanyList", "Admin")",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (index, item) {
                    var opt = new Option(item.CompanyName, item.Id);
                    $("#dropdownCompanyId").append(opt);
                });
                //$("#dropdownUser").chosen();
            }
        })
    }

    $("#tabs").on('click', '#tab2', function () {
        BindReviewDayReport();
    })
    $("#tabs").on('click', '#tab1', function () {
        GetUserReport();
    })
    $("#tabs").on('click', '#tab3', function () {
        BindUserWorkReport();
    })
    $("#tabs").on('click', '#tab4', function () {
        BindCompanyReport();
    })

    function BindUserEmail() {
       
        var register = $("#dropdownUserEmailId").val();
          $.ajax({
            url: "@Url.Action("GetUserEmailList", "Admin")",
            type: "GET",
              data: { registerId: register},
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
              
                if (data.length > 0) {
                    $("#companyUrlId").attr("href", data[0].ListingUrl);
                }
                else {
                    $("#companyUrlId").attr("href", "#");
                }
                $('#tblUserEmail').dataTable({
                    destroy: true,
                    data: data,
                    "pageLength": 50,
                    order: [[0, 'desc']],
                    "columns": [
                        { "data": "FirstName"},
                        { "data": "EmailId" },
                        {
                            "data": "Id",
                            mRender: function (data, type, full) {
                                return '<button type="button" class="btn btn-primary" onclick="UpdateUserEmail('+ data +')" disabled>EDIT</button>'
                            }
                        },
                        {
                            "data": "Id",
                            mRender: function (data, type, full) {
                                return '<button type="button" class="btn btn-danger" onclick="DeleteUserEmail(' + data +')">Delete</button>'
                            }
                        }
                    ]
                });
            }
        })
    }

    function DeleteUserEmail(id) {
        if (confirm('Are you sure want to delete email?')) {
            $.ajax({
                url: "@Url.Action("DeleteUserEmail", "Admin")",
                contentType: 'application/json',
                data:{Id:id},
                type: "GET",
                success: function (result) {
                    BindUserEmail();
                    alert('Delete Successully!');

                },
                error: function () {
                    alert('failure');
                }
            });
        }
        else {
            return;
        }
    }
    function UpdateUserEmail(id) {

    }
</script>
