@{
    ViewBag.Title = "UserReport";
}
<style>
    .select2 {
        width: 100% !important;
    }

    .select2-results__option:before {
        content: "";
        display: inline-block;
        position: relative;
        height: 20px;
        width: 20px;
        border: 2px solid #e9e9e9;
        border-radius: 4px;
        background-color: #fff;
        margin-right: 20px;
        vertical-align: middle;
    }

    .select2-results__option[aria-selected=true]:before {
        font-family: fontAwesome;
        content: "\f00c";
        color: #fff;
        background-color: #f77750;
        border: 0;
        display: inline-block;
        padding-left: 3px;
    }
</style>
@*<div class="">*@
    @*<div class="header">
        <h5 style="color:#fff;margin-right: 40px;">ItsReview App</h5>
    </div>*@
    @*<div class="" style="margin: 30px 20px;">*@
        <div class="row form-group">
            <div class="col-md-2">
                <label for="date">From Date:</label>
                <div class='input-group date fromtodate'>
                    <input type='text' class="form-control" id="txtFromDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <label for="date">To Date:</label>
                <div class='input-group date fromtodate'>
                    <input type='text' class="form-control" id="txtToDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <button onclick="GetUserReport()" style="margin-left:15px;" class="btn btn-primary">Report Generate</button>
            <a href="/Register/Create" style=" position: absolute; right: 3%;" class="forgot-pass fw-bold btn btn-primary">Sign Up</a>
        </div>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1" id="tab1">User Report</a></li>
                <li><a href="#tabs-2" id="tab2">ReviewPerDay Report</a></li>
                <li><a href="#tabs-3" id="tab3">UserWork Report</a></li>
                <li><a href="#tabs-4" id="tab4">Company Report</a></li>
                <li><a href="#tabs-5" id="tab5">EmailList</a></li>
                <li><a href="#tabs-6" id="tab6">UserTrackList</a></li>
                <li><a href="#tabs-7" id="tab7">Writer</a></li>
                <li><a href="#tabs-8" id="tab8">Sales</a></li>
                <li><a href="#tabs-9" id="tab9">RegisterList</a></li>
                <li><a href="#tabs-10" id="tab10">Skip</a></li>
            </ul>
            <div id="tabs-1">
                <div class="row">
                    <div>
                        Review Count:
                        <label id="lblCount"></label>
                    </div>
                </div>
                <div class="form-group">
                    <table id="tblUserReport" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email Id</th>
                                <th>Review</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="tabs-2">
                <div class="form-group">
                    <table id="tblReviewPerDayReport" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Expected Review</th>
                                <th>Posted Review</th>
                                <th>Current Review</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="tabs-3">
                <div class="row col-md-12 form-group">
                    <div class="col-md-3">
                        <select class="form-control select2 cls-User-dropdown" onchange="BindUserWorkReport()" id="dropdownUser" name="dropdownUser"></select>
                    </div>
                </div>
                <div>
                    <table id="tblUserWorkReport" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Review Date</th>
                                <th>User Name</th>
                                <th>User Email</th>
                                <th>Company Name</th>
                                <th>Company Url</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="tabs-4">

                <div class="row col-md-12 form-group">
                    <div class="col-md-4">
                        <select class="form-control select2" onchange="BindCompanyReport()" id="dropdownCompanyId" name="dropdownCompanyId"></select>
                    </div>
                    <div class="col-md-2">
                        <a id="companyUrlId" style="color: #fff;" class="btn btn-primary" target="_blank">Company Url</a>
                    </div>
                </div>
                <div>
                    <table id="tblCompanyReport" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Review Date</th>
                                <th>User Name</th>
                                <th>User Email</th>
                                <th>Company Name</th>
                                <th>Register Name</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="tabs-5">
                <div class="row col-md-12 form-group">
                    <div class="col-md-4">
                        <select class="form-control select2 cls-User-dropdown" onchange="BindUserEmail()" id="dropdownUserEmailId" name="dropdownUserEmailName"></select>
                    </div>
                </div>
                <div>
                    <table id="tblUserEmail" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>EmailId</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="tabs-6">
                <div>
                    <table id="tblUserTracking" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Created Date</th>
                                <th>Company Name</th>
                                <th>ReviewName</th>
                                <th>Company URL</th>
                                <th>Register Name</th>
                                <th>User Name</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="tabs-7">
                @*<div class="row">
                <label>Review Per Day Count:</label>
                <label id="lblReviewPerDayCount"></label>
            </div>*@
                <div class="row col-md-12 form-group">
                    <div class="col-md-3">
                        <select class="form-control select2" onchange="BindWriterUserTrackingReport()" id="dropdownWriterUser" name="dropdownWriterUser"></select>
                    </div>
                </div>
                <div>
                    <label>Review Count:</label>
                    <label id="lblReviewCount"></label>
                    <table id="tblWriterUserWorkReport" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Review Date</th>
                                <th>Register Name</th>
                                <th>Company Name</th>
                                <th>Review Name</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="tabs-8">
                <div>
                    <div class="row col-md-12 form-group">
                        <div class="col-md-3">
                            <select class="form-control select2 cls-Sales-dropdown" onchange="GetCompanyLeadList()" id="dropdownSalesList" name="dropdownSalesList"></select>
                        </div>
                    </div>
                    <table id="tblSalesList" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Modified Date</th>
                                <th>Created Date</th>
                                <th>Client Name</th>
                                <th>PhoneNumber</th>
                                <th>CompanyName</th>
                                <th>CityName</th>
                                <th>ReviewsPerDay</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="tabs-9">
                <table id="tblRegisterList" class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>EmailId</th>
                            <th>Password</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="tabs-10">
                <table id="tblSkipList" class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Created Date</th>
                            <th>Company Name</th>
                            <th>ReviewName</th>
                            <th>Register Name</th>
                            <th>User Name</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    @*</div>*@


    <div class="modal fade" id="EmailUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 80px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="Userid">
                    </div>
                    <div class="form-group">
                        <label for="emailId">EmailId</label>
                        <input name='emailId' class='form-control' id="emailId" readonly />
                    </div>
                    <div class="form-group">
                        <label for="category">category</label>
                        <select data-placeholder="Select Category" class="form-control multipleselect dropdownCategory" id="dropdownCategory" name="dropdownCategory" multiple="multiple"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="ResetEmailData()" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="UpdateUserData()" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="RegisterUpdateModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModalLabel" aria-hidden="true" style="margin-top: 80px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="RegisterModalLabel">Edit Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="Registerid">
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input name='name' class='form-control' id="RegisterName" />
                    </div>
                    <div class="form-group">
                        <label for="emailId">EmailId</label>
                        <input name='emailId' class='form-control' id="RegisteremailId" />
                    </div>
                    <div class="form-group">
                        <label for="password">password</label>
                        <input name='password' class='form-control' id="Registerpassword" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="ResetRegisterData()" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="UpdateRegisterData()" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
@*</div>*@


<script type="text/javascript">
    $(document).ready(function () {
        BindDate();
        $(".select2").select2({
            //closeOnSelect: false,
            //allowClear: true,
           /* tags: true*/
        });
        BindUserList();
        BindSalesList();
        BindWriterUserWorkReport();
        BindCompanyList();
        var selected_tab = 0;
        $(function () {
            var tabs = $("#tabs").tabs({
                select: function (e, i) {
                    selected_tab = i.index;
                }
            });
            tabs.tabs('select', selected_tab);
        });
        $('[href="#tabs-1"]').click();
        Bindcategory(0);
    });

    function BindDate(){
        $('.fromtodate').datepicker({
            autoclose: true,
            format: "yyyy/mm/dd",
            orientation: 'bottom',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });

        $('#txtFromDate').datepicker({ format: 'yyyy/mm/dd', }).datepicker("setDate", 'now');
        $('#txtToDate').datepicker({ format: 'yyyy/mm/dd', }).datepicker("setDate", 'now');
    }

    function GetUserReport() {
        var fromDate = $("#txtFromDate").val();
        var toDate = $("#txtToDate").val();
        if (fromDate == null || toDate == null) {
            alert("Please select date");
            return;
        }
        $.ajax({
            url: "@Url.Action("GetUserReport","Admin")",
            type: "GET",
            dataType: "json",
            data: {
                FromDate: fromDate,
                ToDate: toDate
            },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                $('#tblUserReport').dataTable({
                    destroy: true,
                    data: data,
                    pageLength: 50,
                    "columns": [
                        { "data": "Name" },
                        { "data": "EmailId" },
                        { "data": "RecordCount" }
                    ]
                });
                var table = $('#tblUserReport').DataTable();
                var column = table.column(2);
                var reviewCount=column.data().reduce(function (a, b) {
                    return parseInt(a) + parseInt(b);
                })
                $("#lblCount").text(reviewCount);

            }
        })
        }

    function BindReviewDayReport() {
        var fromDate = $("#txtFromDate").val();
        var toDate = $("#txtToDate").val();

        if (fromDate == null || toDate == null) {
            alert("Please select date");
            return;
        }

        $.ajax({
            url: "@Url.Action("GetUserReviewDayReport", "Admin")",
            type: "GET",
           /* dataType: "json",*/
            data: {
                FromDate: fromDate,
                ToDate: toDate
            },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#tblReviewPerDayReport').dataTable({
                    destroy: true,
                    data: data,
                    pageLength: 50,
                    "columns": [
                        {
                            "data": "CreatedDate",
                            render: function (data, type, row) {
                                var date = new Date(parseInt(data.substr(6)));
                                var month = date.getMonth() + 1;
                                return date.getDate() + "/" + month + "/" + date.getFullYear();
                            }
                        },
                        { "data": "ExpectedReview" },
                        { "data": "UseReview" },
                        { "data": "TodayCount" }
                    ]
                });
            }
        })
    }

     function BindUserList() {

        $.ajax({
            url: "@Url.Action("GetUserList", "Admin")",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (index, item) {
                    var opt = new Option(item.Name, item.Id);
                    $(".cls-User-dropdown").append(opt);
                });
                //$("#dropdownUser").chosen();
            }
        })
    }
    function BindWriterUserWorkReport() {

        $.ajax({
            url: "@Url.Action("GetWriterUserList", "Admin")",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (index, item) {
                    var opt = new Option(item.Name, item.Id);
                    $("#dropdownWriterUser").append(opt);
                });
                //$("#dropdownUser").chosen();
            }
        })
    }
    function BindCompanyReport() {
        var fromDate = $("#txtFromDate").val();
        var toDate = $("#txtToDate").val();
        var company = $("#dropdownCompanyId").val();
        if (fromDate == null || toDate == null) {
            alert("Please select date");
            return;
        }

        $.ajax({
            url: "@Url.Action("GetCompanyTrackReportList", "Admin")",
            type: "GET",
            data: {
                FromDate: fromDate,
                ToDate: toDate,
                CompanyId: company
            },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.length > 0) {
                    $("#companyUrlId").attr("href", data[0].ListingUrl);
                }
                else {
                    $("#companyUrlId").attr("href", "#");
                }
                $('#tblCompanyReport').dataTable({
                    destroy: true,
                    data: data,
                    pageLength: 50,
                    order: [[0, 'desc']],
                    "columns": [
                        {
                            "data": "CreatedDate", "width": "12%",
                            render: function (data, type, row) {
                                var date = new Date(parseInt(data.substr(6)));
                                return date.toISOString().split('T')[0] + " " + date.toISOString().split('T')[1].split('.')[0]
                            }
                        },
                        { "data": "FirstName", "width": "12%" },
                        { "data": "EmailId", "width": "12%" },
                        { "data": "CompanyName", "width": "12%" },
                        {
                            "data": "RegisterName", "width": "52%"
                        }
                    ]
                });
            }
        })
    }

    function BindCompanyList() {
        $.ajax({
            url: "@Url.Action("GetCompanyList", "Admin")",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (index, item) {
                    var opt = new Option(item.CompanyName, item.Id);
                    $("#dropdownCompanyId").append(opt);
                });
                //$("#dropdownUser").chosen();
            }
        })
    }

    $("#tabs").on('click', '#tab2', function () {
        BindReviewDayReport();
    })
    $("#tabs").on('click', '#tab1', function () {
        GetUserReport();
    })
    $("#tabs").on('click', '#tab3', function () {
        BindUserWorkReport();
    })
    $("#tabs").on('click', '#tab4', function () {
        BindCompanyReport();
    })
    $("#tabs").on('click', '#tab6', function () {
        BindUserTrackingReport();
    })
    $("#tabs").on('click', '#tab7', function () {
        BindWriterUserTrackingReport();
    })
    $("#tabs").on('click', '#tab9', function () {
        GetRegisterList();
    })
    $("#tabs").on('click', '#tab10', function () {
        BindSkipList();
    })

    function BindUserEmail() {
        var register = $("#dropdownUserEmailId").val();
          $.ajax({
            url: "@Url.Action("GetUserEmailList", "Admin")",
            type: "GET",
              data: { registerId: register},
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                if (data.length > 0) {
                    $("#companyUrlId").attr("href", data[0].ListingUrl);
                }
                else {
                    $("#companyUrlId").attr("href", "#");
                }
                $('#tblUserEmail').dataTable({
                    destroy: true,
                    data: data,
                    "pageLength": 50,
                    order: [[0, 'desc']],
                    "columns": [
                        { "data": "FirstName"},
                        { "data": "EmailId" },
                        //{
                        //    "data": "Id",
                        //    mRender: function (data, type, full) {
                        //        return '<button type="button" class="btn btn-primary" onclick="UpdateUserEmail('+ data +')" disabled>EDIT</button>'
                        //    }
                        //},
                        {
                            data: "Id",
                            mRender: function (data, type, full) {
                                return '<button type="button" class="btn btn-primary" data-toggle="modal" onclick="UpdateUserEmail(' + data +')" data-target="#EmailUpdateModal">EDIT</button>'
                            }
                        },
                        {
                            "data": "Id",
                            mRender: function (data, type, full) {
                                return '<button type="button" class="btn btn-danger" onclick="DeleteUserEmail(' + data +')">Delete</button>'
                            }
                        }
                    ]
                });
            }
        })
    }

    function DeleteUserEmail(id) {
        if (confirm('Are you sure want to delete email?')) {
            $.ajax({
                url: "@Url.Action("DeleteUserEmail", "Admin")",
                contentType: 'application/json',
                data:{Id:id},
                type: "GET",
                success: function (result) {
                    BindUserEmail();
                    alert('Delete Successully!');

                },
                error: function () {
                    alert('failure');
                }
            });
        }
        else {
            return;
        }
    }

    function UpdateUserEmail(id) {
          $.ajax({
                url: "@Url.Action("EditUserEmail", "Admin")",
                contentType: 'application/json',
                data:{Id:id},
                type: "GET",
              success: function (result) {
                  if (result != null)
                  {
                      $("#Userid").val(result[0].Id);
                      $("#emailId").val(result[0].EmailId);
                      $.each(result, function (index, item) {
                          $("#EmailUpdateModal").find(".dropdownCategory option[value='" + item.CategoryId + "']").prop("selected", true);
                      });
                      $("#EmailUpdateModal").find(".dropdownCategory").select2().trigger('change');
                  }
              },
              error: function () {
                  alert('failure');
             }
          });
    }

    function BindUserWorkReport() {
        var fromDate = $("#txtFromDate").val();
        var toDate = $("#txtToDate").val();
        var user = $("#dropdownUser").val();
        if (fromDate == null || toDate == null) {
            alert("Please select date");
            return;
        }

        $('#tblUserWorkReport').DataTable({
            destroy: true,
            "processing": true,
            "serverSide": true,
            "filter": true,
            "pageLength": 50,
            "orderMulti": false,
            "ajax": {
                "url": "GetUserTrackReport/Admin",
                "type": "POST",
                /* "datatype": "json"*/
                "data": {
                    FromDate: fromDate,
                    ToDate: toDate,
                    RegisterId: user
                }
            },
            "columns": [
                {
                    "data": "CreatedDate", "width": "12%",
                     "render": function (data, type, row) {
                        var date = new Date(parseInt(data.substr(6)));
                        return date.toISOString().split('T')[0] + " " + date.toISOString().split('T')[1].split('.')[0]
                    },
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "FirstName", "width": "12%",
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "EmailId","width": "12%",
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "CompanyName", "width": "12%",
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "ListingUrl", "width": "52%",
                    "render": function (data, type, row) {
                        var listingurl = (data.length > 30) ? data.substring(0, 30) + '...' : data;
                        return '<a href=' + data + ' target="_blank">' + listingurl + '</a>'
                    }
                },
            ],
        });
    }

     function BindUserTrackingReport() {
         var fromDate = $("#txtFromDate").val();
        var toDate = $("#txtToDate").val();
        if (fromDate == null || toDate == null) {
            alert("Please select date");
            return;
        }

         $('#tblUserTracking').DataTable({
            destroy: true,
            "processing": true,
            "serverSide": true,
            "filter": true,
            "pageLength": 50,
            "orderMulti": false,
            "ajax": {
                "url": "GetUserTrackingReportList/Admin",
                "type": "POST",
                "data": {
                    FromDate: fromDate,
                    ToDate: toDate
                }
            },
            "columns": [
                {
                    "data": "CreatedDate", "width": "15%",
                    "autoWidth": true,
                    "searchable": true,
                    "render": function (data, type, row) {
                        var date = new Date(parseInt(data.substr(6)));
                        var datetime = date.toLocaleTimeString();
                        return date.toISOString().split('T')[0] + " " + date.toISOString().split('T')[1].split('.')[0];
                    }
                },
                {
                    "data": "CompanyName", "width": "15%",
                    "autoWidth": true,
                    "searchable": true,
                    "render": function (data, type, row) {
                        var companyName = (data.length > 30) ? data.substring(0, 30) + '...' : data;
                        return '<span title="' + data + '">' + companyName + '</span>';
                    }
                },
                {
                    "data": "ReviewName", "width": "30%",
                    "autoWidth": true,
                    "searchable": true,
                    "render": function (data, type, row) {
                        var reviewName = (data.length > 30) ? data.substring(0, 30) + '...' : data;
                        return '<span title="' + data + '">' + reviewName + '</span>';
                    }
                },
                {
                    "data": "ListingUrl", "width": "30%",
                    "autoWidth": true,
                    "searchable": true,
                    "render": function (data, type, row) {
                        var reviewName = (data.length > 30) ? data.substring(0, 30) + '...' : data;
                        return '<a href="' + data + '" target="_blank">' + reviewName + '</a>'
                    }
                },
                {
                    "data": "RegisterName", "width": "5%",
                    "autoWidth": true,
                    "searchable": true,
                },
                {
                    "data": "FirstName", "width": "5%",
                    "autoWidth": true,
                    "searchable": true,
                }

            ],
        });
    }

    function BindWriterUserTrackingReport() {
         var fromDate = $("#txtFromDate").val();
        var toDate = $("#txtToDate").val();
        var RegisterId = $("#dropdownWriterUser").val();
        if (RegisterId.length == 0) {
            alert("Please select User");
            return;
        }
        if (fromDate == null || toDate == null) {
            alert("Please select date");
            return;
        }

         $('#tblWriterUserWorkReport').DataTable({
             destroy: true,
             "processing": true,
             "serverSide": true,
             "filter": true,
             "pageLength": 50,
             "orderMulti": false,
             "ajax": {
                 "url": "GetWriterUserTrackingReportList/Admin",
                 "type": "POST",
                 "data": {
                     FromDate: fromDate,
                     ToDate: toDate,
                     RegisterId: RegisterId
                 }
            },
            "columns": [
                {
                    "data": "CreatedDate", "width": "15%",
                    "autoWidth": true,
                    "searchable": true,
                    render: function (data, type, row) {
                        $("#lblReviewCount").text(row.usercount);
                        var date = new Date(parseInt(data.substr(6)));
                        var datetime = date.toLocaleTimeString();
                        return date.toISOString().split('T')[0] + " " + date.toISOString().split('T')[1].split('.')[0];
                    }
                },
                {
                    "data": "RegisterName", "width": "10%",
                    "autoWidth": true,
                    "searchable": true,
                },
                {
                    "data": "CompanyName", "width": "15%",
                    "autoWidth": true,
                    "searchable": true,
                    render: function (data, type, row) {
                        var companyName = (data.length > 60) ? data.substring(0, 60) + '...' : data;
                        return '<span title="' + data + '">' + companyName + '</span>';
                    }
                },
                {
                    "data": "ReviewName", "width": "30%",
                    "autoWidth": true,
                    "searchable": true,
                    render: function (data, type, row) {
                        var reviewName = (data.length > 50) ? data.substring(0, 50) + '...' : data;
                        return '<span title="' + data + '">' + reviewName + '</span>';
                    }
                }
            ]
         });

        var count = $("#tblWriterUserWorkReport").dataTable().fnSettings().aoData.length;
        if (count == 0) {
            $("#lblReviewCount").text(0);
        }
    }

    function BindSalesList() {
        $.ajax({
            url: "@Url.Action("GetSalesList", "Admin")",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (index, item) {
                    var opt = new Option(item.Name, item.Id);
                    $(".cls-Sales-dropdown").append(opt);
                });
            }
        })
    }

    function GetCompanyLeadList() {
        var register = $("#dropdownSalesList").val();
          $.ajax({
            url: "@Url.Action("GetCompanyLeadList", "Admin")",
            type: "GET",
              data: { registerId: register},
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#tblSalesList').dataTable({
                    destroy: true,
                    data: data,
                    pageLength: 50,
                    order: [[0, 'desc']],
                    "columns": [
                        {
                            "data": "ModifiedDate",
                            render: function (data, type, row) {
                                if (data != null) {
                                    //var date = moment(data).format('YYYY-MM-DD HH:mm:ss');
                                    //return date;
                                    var date = new Date(parseInt(data.substr(6)));
                                    /*var datetime = date.toLocaleTimeString();*/
                                    return date.toISOString().split('T')[0] + " " + date.toISOString().split('T')[1].split('.')[0];
                                }
                                else {
                                    return null
                                }
                            }
                        },
                        {
                            "data": "CreationDate",
                            render: function (data, type, row) {
                                if (data != null) {
                                    var date = new Date(parseInt(data.substr(6)));
                                   /* var datetime = date.toLocaleTimeString();*/
                                    return date.toISOString().split('T')[0] + " " + date.toISOString().split('T')[1].split('.')[0];
                                }
                            }
                        },
                        { "data": "ClientName"},
                        { "data": "PhoneNumber" },
                        { "data": "CompanyName" },
                        { "data": "CityName" },
                        { "data": "ReviewsPerDay" }
                    ]
                });
            }
        })
    }

    function Bindcategory(id, categoryList) {
        $.ajax({
            url: "@Url.Action("GetCategory", "Admin")",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (index, item) {
                    var opt = new Option(item.Text, item.Value);
                    if (id == 0) {
                        $('.dropdownCategory').append(opt);
                    }
                    //else {
                    //    $("#EmailUpdateModal").find(".dropdownCategory").append(opt);
                    //}
                });
            }
        })
    }

    function ResetEmailData() {
        $("#Userid").val(0);
        $("#emailId").val('');
        $("#dropdownCategory").val('');
    }

    function UpdateUserData() {
        var id = $("#Userid").val();
        var category = $("#dropdownCategory").val();

        var writeobject = new Object();
        writeobject.Id = id,
        writeobject.UserCategoryViewModel = category
         $.ajax({
            url: "@Url.Action("UpdateUserCategoryData", "Admin")",
            contentType: 'application/json',
            data: JSON.stringify(writeobject),
            type: "POST",
            success: function (result) {
                alert('success');
                ResetEmailData();
            },
             error: function (result) {
                alert('failure');
            }
         });
    }

    function GetRegisterList() {
         $.ajax({
            url: "@Url.Action("GetRegisterList", "Admin")",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#tblRegisterList').dataTable({
                    destroy: true,
                    data: data,
                    pageLength: 50,
                    "columns": [
                        {"data": "Name"},
                        {"data": "EmailId",},
                        { "data": "Password", 'visible': false },
                        {
                            data: "Id",
                            mRender: function (data, type, full) {
                                return '<button type="button" class="btn btn-primary" onclick="GetRegisterDetails(' + data +')" data-toggle="modal" data-target="#RegisterUpdateModal">EDIT</button>'
                            }
                        },
                    ]
                });
            }
        })
    }

    function GetRegisterDetails(id) {
         $.ajax({
                url: "@Url.Action("EditRegisterDetails", "Admin")",
                contentType: 'application/json',
                data:{Id:id},
                type: "GET",
              success: function (result) {
                  if (result != null)
                  {
                      $("#Registerid").val(result[0].Id);
                      $("#RegisterName").val(result[0].Name);
                      $("#RegisteremailId").val(result[0].EmailId);
                      $("#Registerpassword").val(result[0].Password);
                  }
              },
              error: function () {
                  alert('failure');
             }
          });
    }

    function UpdateRegisterData() {
        var id = $("#Registerid").val();
        var name = $("#RegisterName").val();
        var emailid = $("#RegisteremailId").val();
        var password = $("#Registerpassword").val();

        var writeobject = new Object();
        writeobject.Id = id,
            writeobject.Name = name,
            writeobject.EmailId = emailid,
            writeobject.Password = password;

         $.ajax({
              url: "@Url.Action("Create", "Register")",
            contentType: 'application/json',
            data: JSON.stringify(writeobject),
            type: "POST",
            success: function (result) {
                alert('success');
                GetRegisterList();
                ResetRegisterData();
            },
             error: function (result) {
                alert('failure');
            }
         });
    }

    function ResetRegisterData() {
        $("#Registerid").val(0);
        $("#RegisterName").val('');
        $("#RegisteremailId").val('');
        $("#Registerpassword").val('');
    }

    function BindSkipList() {
        var fromDate = $("#txtFromDate").val();
        var toDate = $("#txtToDate").val();
        if (fromDate == null || toDate == null) {
            alert("Please select date");
            return;
        }

        $('#tblSkipList').DataTable({
            destroy: true,
            "processing": true,
            "serverSide": true,
            "filter": true,
            "pageLength": 50,
            "orderMulti": false,
            "ajax": {
                "url": "GetSkipList/Admin",
                "type": "POST",
                "data": {
                    FromDate: fromDate,
                    ToDate: toDate
                }
            },
            "columns": [
                {
                    "data": "CreatedDate", "width": "15%",
                    "autoWidth": true,
                    "searchable": true,
                    "render": function (data, type, row) {
                        var date = new Date(parseInt(data.substr(6)));
                        var datetime = date.toLocaleTimeString();
                        return date.toISOString().split('T')[0] + " " + date.toISOString().split('T')[1].split('.')[0];
                    }
                },
                {
                    "data": "CompanyName", "width": "15%",
                    "autoWidth": true,
                    "searchable": true,
                    "render": function (data, type, row) {
                        var companyName = (data.length > 30) ? data.substring(0, 30) + '...' : data;
                        return '<span title="' + data + '">' + companyName + '</span>';
                    }
                },
                {
                    "data": "ReviewName", "width": "30%",
                    "autoWidth": true,
                    "searchable": true,
                    "render": function (data, type, row) {
                        var reviewName = (data.length > 30) ? data.substring(0, 30) + '...' : data;
                        return '<span title="' + data + '">' + reviewName + '</span>';
                    }
                },
                {
                    "data": "RegisterName",
                    "autoWidth": true,
                    "searchable": true,
                },
                {
                    "data": "FirstName",
                    "autoWidth": true,
                    "searchable": true,
                }
            ]
        });
    }
</script>
